<footer>
    <div class="container">
        <section>
            <div>
                <span>banquee.</span>
            </div>
            <div>
                <ul>
                    <h3>About</h3>
                    <li>
                        <a routerLink="/features">
                            Features
                        </a>
                    </li>
                    <li>
                        <a href="#">Pricing</a>
                    </li>
                    <li>
                        <a routerLink="/support">
                            Support
                        </a>
                    </li>
                </ul>

                <ul>
                    <h3>Blog</h3>
                    <li>
                        <a routerLink="/blog">
                            Products
                        </a>
                    </li>
                    <li>
                        <a routerLink="/blog">
                            Technology
                        </a>
                    </li>
                    <li>
                        <a routerLink="/blog">
                            Crypto
                        </a>
                    </li>
                </ul>

                <ul>
                    <h3>Webflow</h3>
                    <li>
                        <a href="#">Styleguide</a>
                    </li>
                    <li>
                        <a href="#">Licensing</a>
                    </li>
                    <li>
                        <a href="#">Changelog</a>
                    </li>
                </ul>

                <ul>
                    <h3>Social Media</h3>
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <a href="#">Instagram</a>
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <div>
                <span>©  Made by <span class="accent">Jerome Baille</span>, designed by <span class="accent">Pawel Gola</span> - Powered by <span class="accent">Angular</span></span>
            </div>
            <div>
                <a href="#">Impressum</a>
                <a href="#">Datenschutz</a>
            </div>
        </section>
    </div>
</footer>