<section id="blog-header" class="main-container">
    <h2>Blog</h2>
</section>
<section id="nav" class="main-container nav-categories">
    <nav>
        <ul class="nav-categories__list">
            <h3>Categories</h3>
            <li>
                <a routerLink="blog">All</a>
            </li>
            <li>
                <a routerLink="blog">Product</a>
            </li>
            <li>
                <a routerLink="blog">Technology</a>
            </li>
            <li>
                <a routerLink="blog">App</a>
            </li>
        </ul>
    </nav>
</section>

<section id="articles" class="main-container">
    <div class="blog__cards">
        <div class="blog__cards__column">
            <div class="img-container">
                <img src="assets/clay-banks-c2a0TydMlAs-unsplash 1.png" alt="Banko illustration">
            </div>
            <h3>How To Use Banko For Your Startup</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi.
            </p>
            <div class="blog__tags">
                <span>App</span>
                <span>Technology</span>
            </div>
        </div>
        <div class="blog__cards__column">
            <div class="img-container">
                <img src="assets/dusan-jovic-2V4Qhq55maY-unsplash 1.png" alt="Banko illustration">
            </div>
            <h3>10 Things You Didn't Know About Banko</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi.
            </p>
            <div class="blog__tags">
                <span>Technology</span>
            </div>
        </div>
        <div class="blog__cards__column">
            <div class="img-container">
                <img src="assets/towfiqu-barbhuiya-tbwOzgQYeSw-unsplash 1.png" alt="Banko illustration">
            </div>
            <h3>7 Ways To Improve Your Saving Habits</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi.
            </p>
            <div class="blog__tags">
                <span>App</span>
                <span>Product</span>
            </div>
        </div>
    </div>
    <div class="blog__cards">
        <div class="blog__cards__column">
            <div class="img-container">
                <img src="assets/good-faces-_8s90U1mLYo-unsplash 1.png" alt="Banko illustration">
            </div>
            <h3>Why Everyone Loves Banko</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi.
            </p>
            <div class="blog__tags">
                <span>Product</span>
                <span>Technology</span>
            </div>
        </div>
        <div class="blog__cards__column">
            <div class="img-container">
                <img src="assets/jeremy-bezanger-jAA2EzcPJYU-unsplash (1) 1.png" alt="Banko illustration">
            </div>
            <h3>5 Principles Of Crypto Investing</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi.
            </p>
            <div class="blog__tags">
                <span>App</span>
            </div>
        </div>
        <div class="blog__cards__column">
            <div class="img-container">
                <img src="assets/clay-banks-c2a0TydMlAs-unsplash 1.png" alt="Banko illustration">
            </div>
            <h3>7 Most Asked Questions</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi.
            </p>
            <div class="blog__tags">
                <span>Technology</span>
            </div>
        </div>
    </div>
</section>